body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    height: 300px;
    width: 300px;
    background-color: black;
    gap: 1px;
}

.square {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 32.5%;
    height: 33%;
    background-color: white;
    float: left;
}